QMenuBar {
    background-color: #464646;

    padding-top: 5px;
    padding-right: 5px;	
    padding-bottom: 5px;	
    padding-left: 5px;

    font-size: 10pt;
    spacing: 5px;
    font-weight: 200;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid qlineargradient(spread:pad, x1:0 y1:0, x2:0 y2:1, stop:0 #252525, stop:1 #636363);
    border-left: none;
}

QMenuBar::item {
    padding-top: 5px;
    padding-right: 5px;	
    padding-bottom: 5px;	
    padding-left: 5px;

    background: transparent;
    border-radius: 4px;
}

QMenuBar::item:text {
    color: #D0D0D0;
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: #636363;
    padding: 2px 2px;
}

QMenuBar::item:pressed {
    background: #1C1C1C;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

QMenu {
    background-color: #1C1C1C;
    color: #FFFFFF;
    margin: 2px; /* some spacing around the menu */
}

QMenu::item:selected {
  background-color: #363636;
  color: #FFFFFF;
}
